	.article__header {

		@include breakpoint($small) {
			position: relative;
			margin-bottom: 0;
		}
		

		@include breakpoint($medium) {
			background-color: #000;
			margin-bottom: 24px;
			padding-bottom: 33%;
		}

		.article__title {
			@include breakpoint($small) {
				padding: 0 20px;
			}

			@include breakpoint($medium) {
				text-align: center;
				text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
				color: #fff;
				font-size: 240%;
				padding: 0 40px;
			}

			@include breakpoint($big) {
				font-size: 500%;
			}
		}

		.article__wrapper {

			@include breakpoint($small) {
				@include container;
				width: 100%;
			}

			@include breakpoint($medium) {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				margin-bottom: 0;
			}
		}

		.article__meta {

			@include breakpoint($small) {
				padding: 0 20px;
			}

			@include breakpoint($medium) {
				text-align: center;
				color: #fff;
			}
		}

		.article__image {

			display: none;

			@include breakpoint($small) {
				width: 100%;
				margin-bottom: 24px;
				height: auto;
				display: block;
			}


			@include breakpoint($medium) {
				position: absolute;
				filter: brightness(80%);
				margin-bottom: 0;
			}

		}


	}

