	.article__header {
		position: relative;
		margin-bottom: 0;

		padding-bottom: 33%;

		@include breakpoint($medium) {
			background-color: #000;
			margin-bottom: 24px;
		}

		.article__title {
			@include container;
			padding: 0 20px;

			@include breakpoint($medium) {
				position: absolute;
				bottom: 25%;
				left: 50%;
				width: 50%;
				margin-left: -25%;
				margin-bottom: 0;
				text-align: center;
				text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
				color: #fff;
				font-size: 600%;
				padding: 0;
			}
		}

		.article__image {
			width: 100%;
			margin-bottom: 24px;
			height: auto;
			display: block;
			position: absolute;
			filter: brightness(50%);

			@include breakpoint($medium) {
				margin-bottom: 0;
			}

		}


	}

