@include border-box-sizing;

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.page__image {
	position: absolute;
	width: 100%;
	height: auto;
	filter: brightness(80%);
}


.page-header__wrapper {
	@include container;
	text-align: center;
	color: #fff;
	// outline: 2px solid red;

	.page-header__title {
		@include breakpoint($medium) {
			font-size: 300%;
		}

		@include breakpoint($big) {
			font-size: 500%;
		}
	}

	.page-header__meta {
		// display: none;
	}
}


.page-header {
	position: absolute;
	width: 100%;

	.page-header__nav {
		.c-menu__items {
			border-bottom: 2px solid #fff;
		}

		@include breakpoint($small) {
			padding: 0 $spacing-unit;
			@include container;
		}
	}
}

.page-main {
		padding-top: 33%;
}

.article {
	.article__body {
		@include container;
		padding: 0 $spacing-unit;
		padding-top: $spacing-unit;

		@include breakpoint($big) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}



.basic {
	.basic__body {
		@include container;
		padding: 0 $spacing-unit;


		@include breakpoint($big) {
			padding: 0;
		}
	}
}



