@include border-box-sizing;

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.page-header {
	@include breakpoint($small) {
		@include container;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		z-index: 300;
	}

	.page-header__logo {
		@include breakpoint($small) {
			display: none;
		}
	}

	.page-header__nav {

		@include breakpoint($medium) {
			// padding-top: 10px;
			@include span(12); 
		}
	}
}


.article {
	.article__body {
		@include breakpoint($small) {
			@include container;
			padding: 0 $spacing-unit;
		}


		@include breakpoint($big) {
			padding: 0;
		}
	}
}



.basic {
	.basic__body {
		@include breakpoint($small) {
			@include container;
			padding: 0 $spacing-unit;
		}


		@include breakpoint($big) {
			padding: 0;
		}
	}
}



.page-main {

	// outline: 1px dashed blue;

}

// .page-list.list {
// 	@include container;
// 	padding: 0 $spacing-unit;
// }


.page-footer {
	@include breakpoint($small) {
		min-height: 15em;
		background-color: #333;
	}
}
