@include border-box-sizing;

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.page-header {
	@include container;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 300;

	.page-header__logo {
		display: none;

		// @include breakpoint($medium) {
		// 	// display: block;
		// }

		// @include breakpoint($big) {
		// 	position: static;
		// 	top: auto;
		// 	left: auto;

		// 	@include span(3);
		// 	display: block;
		// 	padding-top: $spacing-unit / 2;
		// 	padding-bottom: $spacing-unit / 2;
		// 	// padding-left: $spacing-unit;
		// }

	}

	.page-header__nav {

		@include breakpoint($medium) {
			// padding-top: 10px;
			@include span(12); 
		}
	}
}


.article {
	.article__body {
		@include container;
		padding: 0 $spacing-unit;


		@include breakpoint($big) {
			padding: 0;
		}
	}
}



.basic {
	.basic__body {
		@include container;
		padding: 0 $spacing-unit;


		@include breakpoint($big) {
			padding: 0;
		}
	}
}



.page-main {

	// outline: 1px dashed blue;

}

// .page-list.list {
// 	@include container;
// 	padding: 0 $spacing-unit;
// }


.page-footer {
	min-height: 15em;
	background-color: #333;
}
