.c-logo {
	@include breakpoint($small) {
		text-transform: uppercase;
		z-index: 1000;
	}

	a {
		@include breakpoint($small) {
			text-decoration: none;
		}
	}

	svg * {
		fill: #fff;
	}


	&.c-logo--small {

		.c-logo__text {
			@include breakpoint($small) {
				background-color: #000;
				color: #fff;
				padding: 10px 10px;
				max-width: 100px;
				text-align: center;
				margin: 0;
				// padding-top: 30px;
				font-size: 300%;
			}
		}

		.small {
			@include breakpoint($small) {
				display: inline;
			}
		}

		.large {
			@include breakpoint($small) {
				display: none;
			}
		}
	}


	&.c-logo--large {

	}

}

