.c-menu {
	// outline: 1px dashed purple;



	.c-menu__items {
		list-style-type: none;
		padding: 0;
		display: flex;
		margin: 0;
		justify-content: flex-end;
		align-items: flex-end;

			height: 0;

		@include breakpoint($big) {
			height: 86px;
		}
	}

	.c-menu__item {
		flex-grow: 1;
		text-align: center;

		a {
			padding: 50px 5px 10px 5px;
			background-color: #fff;
			display: block;
			text-decoration: none;
			color: #000;
			border-bottom: 4px solid #fff;
			font-size: 120%;

			&:hover {
				color: #333;
				border-bottom-color: #000;
			}
		}
	}
}
