$nav-height: 86px;

.c-menu {
	// outline: 1px dashed purple;
	&.is-active {
		// outline: 2px dashed red;
	}

	.c-menu__items {


		@include breakpoint($small) {
			list-style-type: none;
			padding: 10px $spacing-unit;
			z-index: 400;
			height: 0;
			opacity: 0;
			transition: all 200ms linear;
		}



		@include breakpoint($medium) {
			list-style-type: none;
			padding: 0;
			display: flex;
			margin: 0;
			justify-content: flex-end;
			align-items: flex-end;
			border-bottom: 2px solid #fff;
			height: $nav-height;
			opacity: 1;
			margin: 0 $spacing-unit;
		}

		@include breakpoint($big) {
			margin: 0;
		}


	}

	&.is-active .c-menu__items  {
		@include breakpoint($small $medium) {
			height: auto;
			opacity: 1;
			background-color: #333;
			border: 2px solid #fff;
			width: 96%;
			margin: 0 auto;
		}

		.c-menu__item a {
			@include breakpoint($small $medium) {
				padding: 20px;

				&:hover {
					background-color: pink;
				}
			}
		}
	}

	.c-menu__item {
		@include breakpoint($small) {
			display: block;
			padding-bottom: $spacing-unit / 3;
		}

		@include breakpoint($small) {
			padding: 0;
			flex-grow: 1;
			text-align: center;

			a {
				padding: 50px 5px 10px 5px;
				display: block;
				text-decoration: none;
				color: #fff;
				font-size: 120%;

				&:hover {
					color: #333;
					border-bottom-color: #000;
				}
			}
		}
	}

	.c-menu__toggle {
		display: none;

		@include breakpoint($small) {
			display: block;
			text-transform: uppercase;
			padding: 20px;
			cursor: pointer;
			@include container;

			button {
				border: 1px solid #fff;
				background: transparent;
				color: #fff;
				padding: 5px 10px;
			}
		}


		@include breakpoint($medium) {
			display: none;
		}
	}
}
