html {
  color: #343030;
}

.basic, 
.article {

		line-height: 1.8;
		font-size: 120%;
	
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #A63333;
  transition: all 0.2s linear;
  padding-left: 2px;
  padding-right: 2px;
  &:hover {
    text-decoration: underline;
    // background-color: #A63333;
    color: darken(#A63333, 10%);
    border-radius: 1px;
  }
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

p {
	margin: 0;
}

ul, ol {
    margin: 0;
}

@include breakpoint($medium) {
  body {
    font-family: 'Open Sans', Arial, Helvetica, sans;
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: 'PT Serif', Arial, Helvetica, sans;
  }
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure, .highlight, 
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

.lead {
  font-size: 140%;
  font-family: 'PT Serif', Arial, Helvetica, sans;
}