.article {
	p, ul, ol {
		line-height: 1.8;
		font-size: 120%;
	}
}


h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

p {
	margin: 0;
}

ul, ol {
    margin: 0;
}

@include breakpoint($medium) {
  body {
    font-family: 'Open Sans', Arial, Helvetica, sans;
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: 'PT Serif', Arial, Helvetica, sans;
  }
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure, .highlight, 
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}