<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

      <main class="page-main">
        {{ content }}
      </div>


    {% include footer.html %}
    <script>
        var burger = document.getElementById('burger');
        var mainnav = document.getElementById('mainnav');
        function toggleClass(e) {
            console.log('clickity click');
            mainnav.classList.toggle('is-active');
        } 
        burger.addEventListener("click", toggleClass, false);
    </script>
  </body>

</html>
