
  <header class="page-header">
    <div class="page-header__logo c-logo c-logo--small">
      <a href="/">
      <h1 class="c-logo__text">
      <span class="small">S</span><span class="large">onni</span><span class="small">e</span><span class="large">sedge</span>
      </h1>
      </a>
    </div>
    <nav class="page-header__nav c-menu page-nav" id="mainnav">
      <h2 class="off-screen">Navigation</h2>
      <div id="burger" class="c-menu__toggle" style="">
        <button>Menu</button>
      </div>
      <ul class="c-menu__items">
        <li class="c-menu__item"><a href="/">Home</a></li>
        <li class="c-menu__item"><a href="/about">About</a></li>
        <li class="c-menu__item"><a href="/blog">Blog</a></li>
        <li class="c-menu__item"><a href="#">Interesting</a></li>
        <li class="c-menu__item"><a href="#">Contact</a></li>
      </ul>

    </nav>
  </header>
